* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    .card {
        padding: 10px;
        max-width: 600px;
        width: 600px;

        .card-template {
            float: left;

            .card-template-image {
                max-width: 150px;
            }
        }

        .card-info {

            .card-info-name {
                font-family: "Montserrat", sans-serif;
                font-size: 18px;
                font-weight: 500;
                font-style: normal;
                color: #000;
                margin-bottom: 0;
            }

            .card-info-function {
                font-family: "Montserrat", sans-serif;
                font-size: 14px;
                font-weight: 400;
                font-style: normal;
                color: #000;
                margin-bottom: 20px;
            }

            .card-info-phone {
                .card-info-phone-img {
                    width: 22px;
                    vertical-align: middle;
                }

                .card-info-phone-link {
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    text-decoration: none;
                    color: #000;
                }
            }

            .card-info-mail {
                .card-info-phone-img {
                    width: 22px;
                    vertical-align: middle;
                }

                .card-info-mail-link {
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    text-decoration: none;
                    color: #000;
                }
            }

            .card-info-site {
                .card-info-site-img {
                    width: 22px;
                    vertical-align: middle;
                }

                .card-info-site-link {
                    font-family: "Montserrat", sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    font-style: normal;
                    text-decoration: none;
                    color: #000;
                }
            }
            
        }

        .card-certification {
            margin-left: 10px;

            .card-certification-text {
                font-family: "Montserrat", sans-serif;
                font-size: 10px;
                font-weight: 500;
                font-style: normal;
                color: #000;
            }
        }
    }
}
